@model User
@{
	ViewData["Title"] = "MainPage";
}
<div>vsvsdvdsvdsvsdvs</div>
<div>@Model.Username</div>
<img src="@Model.Avatar" alt="Аватарка" style="width: 100px; height: 100px; border-radius: 50%;" />