@model User
@{
	ViewData["Title"] = "MainPage";
}
<form asp-action="Index">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="~/css/site.css" />

		<button class="avatar" asp-controller="ProfileUser" asp-action="Profile">
		<img src="@Model.Avatar" alt="Аватарка" style="width: 100px; height: 100px; border-radius: 50%;" />
		</button>
		<div>
			<button asp-controller="Back" asp-action="Exit">Выход</button>
		</div>
		<div>
			<button asp-controller="AddGames" asp-action="AddGame">добавить игру</button>
		</div>
		<div>
			<button asp-controller="SearchTim" asp-action="SearchUser">найти союзника</button>
		</div>
		<div>
		<button asp-controller="Advertisements" asp-action="Create">найти союзника</button>
		</div>
</form>