@model User
@{
    ViewData["Title"] = "Authorization";
}
<form asp-action="Index">
    <div>
        <button asp-controller="Back" asp-action="AuthorizationBack">Назад</button>
    </div>
    <div aligh="center">
        <label asp-for="Username">Имя</label>
        <input asp-for="Username" placeholder="Введите ваш никнем" />
        <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Passwordhash"></label>
        <input asp-for="Passwordhash" placeholder="Введите пароль" />
        <span asp-validation-for="Passwordhash"></span>
    </div>
    <div>
        <button asp-action="Authorization" asp-controller="Authorization" type="submit">Вход</button>
    </div>
</form>

